head
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

	link(href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet")

	link(rel="stylesheet" type="text/css" href="/css/main.css")
	link(rel="stylesheet" type="text/css" href="/css/pt.css")

	script(src="https://cdn.plot.ly/plotly-latest.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")

	if (socket)
		script(src="/socket.io/socket.io.js")
		script
			| var socket = io();

	script(src="/js/searchfield.js")
body
	include includes/topbar.pug

	.container
		.grid
			.row
				.col.align-self-center.noselect
					| &nbsp;
			.row(style="min-width: 1200px;")
				.col.align-self-left(style="margin: 10px;")
					.row
						h3 Input
					.row
						#searchfield(style="margin: 10px;")
							form.searchbox
								include includes/searchbox.pug
		
							section#pt-section(style="display: block;")
								include includes/pt.pug
								script
									include ../public/js/ptable.js
							script
								include ../public/js/ptableToggle.js
				.col.col-md-auto(style="display: block;")
					.row
						h3 Options
					.row
						include includes/menubar.pug
						script
							include ../public/js/menubar.js
					br
					if precursors
						.row
							h3 Precursors
						.row
							include includes/precursorselect.pug
							script
								include ../public/js/precursorselect.js
			br
			br
			br
			br
			br
			br
			br
			if stoichs || precursor || xrd
				.row
					.col-2
						#list-tab.list-group(role='tablist')
							if stoichs
								a#list-stoichiometry-list.list-group-item.list-group-item-action.active(data-toggle='list' href='#list-stoichiometry' role='tab' aria-controls='stoichiometry') Stoichiometry
							else
								a#list-stoichiometry-list.list-group-item.list-group-item-action.disabled(data-toggle='list' href='#list-stoichiometry' role='tab' aria-controls='stoichiometry') Stoichiometry

							if precursor
								a#list-precursor-list.list-group-item.list-group-item-action(data-toggle='list' href='#list-precursor' role='tab' aria-controls='precursor') Precursor
							else
								a#list-precursor-list.list-group-item.list-group-item-action.disabled(data-toggle='list' href='#list-precursor' role='tab' aria-controls='precursor') Precursor

							if xrd
								a#list-xrd-list.list-group-item.list-group-item-action(data-toggle='list' href='#list-xrd' role='tab' aria-controls='xrd') XRD
							else
								a#list-xrd-list.list-group-item.list-group-item-action.disabled(data-toggle='list' href='#list-xrd' role='tab' aria-controls='xrd') XRD
					.col-10
						#nav-tabContent.tab-content
							if stoichs
								#list-stoichiometry.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='list-stoichiometry-list') 
									.scrollbar.scrollbar-primary.scrollbar-table(style="width: 100%;")
										table.table
											tr
												each i in stoichs[0]
													th=i
											tbody
												each i in stoichs[1]
													tr
														each col in i
															td=col

							if precursor
								#list-precursor.tab-pane.fade(role='tabpanel' aria-labelledby='list-precursor-list')
									.scrollbar.scrollbar-primary.scrollbar-table(style="width: 100%;")
										table.table
											tr
												each i in precursor[0]
													th=i
											tbody
												each i in precursor[1]
													tr
														each col in i
															td=col

							if xrd 
								#list-xrd.tab-pane.fade(role='tabpanel' aria-labelledby='list-xrd-list') 3


			if diagram
				script.
					var rawData = JSON.parse('!{JSON.stringify(diagram)}');

				.row
					h3 Diagram
				.row
					.col.align-self-left.align-items-left
						.row
							#diagram
								script
									include ../public/js/pdiagram.js
					.col
					.col.align-self-right
						br
						br
						br
						.row
							h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				br
				br
				br